@tailwind base;
@tailwind components;
@tailwind utilities;


body
{
    color:#000;
    color:var(--font-color);
    background:rgb(243,243,243);
    background:var(--bg-color);
    border-color: var(--border-color);
}
#skill, #scoreboard {
    border-color: var(--border-color);
}

:root {
    --primary-color: #302ae6; 
    --secondary-color:#536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --input-color: #d9d9d9;
    --border-color: black;
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color:#818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --input-color: #9a97f3;
    --border-color: #e1e1ff;
}

input, switch, #txtsearch {
    background-color: var(--input-color);
    color: var(--font-color);
}

img {
    background-color: white;
}
